extends ../sub-layout

block content

block sub-bar-1
    li.text-dark
        a(href='./introduce') - HTML คืออะไร
    li.text-dark
        a(href='./structure') - โครงสร้างภาษา HTML
    li.text-dark
        a(href='./heading') - Heading
    li.text-dark
        a(href='./paragraph') - Paragraph
    li.text-dark
        a(href='./list').bg-blue.text-white - List