#sidebar-wrapper.text-center.shadow-lg.bg-black

  ul.sidebar-nav
    li.sidebar-brand.text-light
      a(href='/')
        i.fas.fa-code
        |  The Code X
    .p-2
      li.shadow-sm
        a(href='/lesson/basic/')
          .badge.badge-primary.h2 สัปดาห์ที่ 1 
          p ความรู้พื้นฐาน
        block sub-bar-1
      hr
      li.shadow-sm
        a(href='/lesson/style/') 
          .badge.badge-primary สัปดาห์ที่ 2 
          p  การกำหนดรูปแบบตัวอักษร
        block sub-bar-2
      hr
      .shadow-sm
        li
          a(href='/lesson/image/').shadow-sm 
            .badge.badge-primary สัปดาห์ที่ 3 
            p   รูปภาพ
          block sub-bar-3
        li
          a(href='/lesson/link/').shadow-sm 
            //- .badge.badge-primary สัปดาห์ที่ 3
            p   การเชื่อมโยง
          block sub-bar-4
      hr
      li.shadow-sm
        a(href='/lesson/layout/') 
          .badge.badge-primary สัปดาห์ที่ 4
          p   การกำหนดรูปแบบเว็บไซต์
        block sub-bar-5
      hr
      .shadow-sm
        li.shadow-sm
          a(href='/lesson/bootstrap/') 
            .badge.badge-primary บทเสริม  
            p  เรียนรู้ Bootstrap
          block sub-bar-6
        li.shadow-sm
          a(href='/lesson/myweb/') 
            p  ลองเขียนเว็บของตัวเอง
          block sub-bar-7
    
    hr
    li
      a(href='/playground/') PlayGround
    li
      a(href='http://codex.sukhon.ac.th/upload_html/') อัปโหลดไฟล์ HTML
    li
      a(href='http://codex.sukhon.ac.th/upload_picture/') อัปโหลดรูปภาพ
