#sidebar-wrapper.text-center.shadow-lg.bg-black
 
  ul.sidebar-nav
    li.sidebar-brand.text-light
      a(href='/')
        i.fas.fa-code
        |  The Code X
    li.shadow-sm
      a(href='/lesson/basic/')
        .badge.badge-primary สัปดาห์ที่ 1 
        |  ความรู้พื้นฐาน
      block sub-bar-1
    li.shadow-sm
      a(href='/lesson/style/') 
        .badge.badge-primary สัปดาห์ที่ 2 
        |   การกำหนดรูปแบบตัวอักษร
      block sub-bar-2
    li.shadow-sm
      a(href='/lesson/image/') 
        .badge.badge-primary สัปดาห์ที่ 3 
        |   รูปภาพ
      block sub-bar-3
    li.shadow-sm
      a(href='/lesson/link/') 
        .badge.badge-primary สัปดาห์ที่ 4  
        |   การเชื่อมโยง
      block sub-bar-4
    li.shadow-sm
      a(href='/lesson/layout/') 
        .badge.badge-primary สัปดาห์ที่ 5
        |   การกำหนดรูปแบบเว็บไซต์
      block sub-bar-5
    li.shadow-sm
      a(href='/lesson/bootstrap/') 
        .badge.badge-primary บทเสริม  
        |  เรียนรู้ Bootstrap
      block sub-bar-6
    li.shadow-sm
      a(href='/lesson/myweb/') 
        .badge.badge-primary ลอง  
        |  ลองเขียนเว็บของตัวเอง
      block sub-bar-7
    
    hr
    li
      a(href='/playground/') PlayGround
    li
      a(href='http://codex.sukhon.ac.th/upload_html/') อัปโหลดไฟล์ HTML
    li
      a(href='http://codex.sukhon.ac.th/upload_picture/') อัปโหลดรูปภาพ
