#sidebar-wrapper.text-center.shadow-lg.bg-black
 
  ul.sidebar-nav
    li.sidebar-brand.text-light
      a(href='/')
        i.fas.fa-code
        |  The Code X
    li
      a(href='/lesson/basic/') บทที่ 1 ความรู้พื้นฐาน
      block sub-bar-1
    li
      a(href='/lesson/style/') บทที่ 2 การกำหนดรูปแบบตัวอักษร
      block sub-bar-2
    li
      a(href='/lesson/image/') บทที่ 3 การแทรกรูปภาพ
      block sub-bar-3
    li
      a(href='/lesson/link/') บทที่ 4 การเชื่อมโยง
      block sub-bar-4
    li
      a(href='/lesson/layout/') บทที่ 5 การกำหนดรูปแบบเว็บไซต์
      block sub-bar-5
    li
      a(href='/lesson/my-web/') ลองเขียนเว็บของตัวเอง
    
    hr
    li
      a(href='/playground/') PlayGround
    li
      a(href='/upload_html/') อัปโหลดไฟล์ HTML
    li
      a(href='/upload_picture/') อัปโหลดรูปภาพ
