.bg-black {
    background-color: black;
}

.kanit {
    font-family: 'Kanit', sans-serif;
}

.editor-color {
    background-color: #0E1112;
}

.example-code {}

.margin-2 {
    margin: 20px;
}

.bg-purple {
    background-color: blueviolet;
}

.tag-cl {
    color: mediumblue;
}

.tagsign-cl {
    color: brown;
}

.att-cl {
    color: red;
}

.att-val-cl {
    color: mediumblue;
}

.tag-html {
    color: #e32d73;
}

.bracket-html {
    color: #0022ff;
}

.text-underline {
    text-decoration: underline;
}

.comment-html {
    border-left-color: green;
    border-left-width: 4px;
}

.bg-almost-light {
    background-color: #ddd;
}

p {
    font-size: 18px;
}

.code {
    font-size: 19px;
}

.udl {
    text-decoration: underline;
}

.menu-toggle {
    position: fixed;
}

.text-blue {
    color: #68c2e8;
}

.bg-blue {
    background-color: #68c2e8;
}

.bg-blue2 {
    background: #c4f5ff;
}

.bg-green {
    background-color: #e8fff5;
}

.bg-red {
    background-color: #ffb3b3;
}

/* CSS FROM W3SCHOOL */

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

code {
    font-size: 18px;
}

.CodeMirror {
    height: 100%;
}

/* 
html,
body {
  height: 100%;
}

body {
    -webkit-animation: background 10s cubic-bezier(1,0,0,1) infinite;
    animation: background 10s cubic-bezier(1,0,0,1) infinite;  
  }
  
  
  @-webkit-keyframes background {
    0% { background-color:#faffff }
    33% { background-color:#fafeff }  
    67% { background-color: #fcfaff}
    100% { background-color: #fffaff}
  }
  
  @keyframes background {
    0% { background-color:#faffff }
    33% { background-color:#fafeff }  
    67% { background-color: #fcfaff}
    100% { background-color: #fffaff}
   
  }
   */

/* <style> */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #68c2e8, #8786f7);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to left, #68c2e8, #8786f7);
}

/* </style> */


body .gist .gist-file {
    margin-bottom: 0;
    border: 1px dashed #adb5bd;
    border-radius: 0;
}

body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
}

body .gist .blob-wrapper {
    border-radius: 0;
}

body .gist .highlight {
    background-color: transparent;
    /* font-family: 'Kanit', monospace; */
    font-size: 16px;
}

body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
}

body .gist tr:first-child td {
    padding-top: 15px !important;
}

body .gist tr:last-child td {
    padding-bottom: 15px !important;
}

body .gist .blob-num {
    color: #ced4da;
    background-color: #495057;
    pointer-events: none;
}

body .gist .gist-meta {
    display: none;
}