extends ../sub-layout

block content
    //- card 1
    .card.shadow-lg.mt-2
        .card-header
            .h3.text-center รู้จักกับ Bootstrap
        .card-body
            .h4 Bootstrap คืออะไร ?
            img(src="/pic/demo-bootstrap.jpg", alt="", srcset="").img-fluid
            p Bootstrap คือ Frontend Framework ที่รวม HTML, CSS และ JS เข้าด้วยกันสำหรับพัฒนา Web ที่รองรับทุก Smart Device หรือ เรียกว่า Responsive Web หรือ Mobile First
            a(href="https://getbootstrap.com") เว็บไซต์ Bootstrap
            hr
            a(href="https://www.programmerthailand.com/tutorial/post/view/96/bootstrap-%E0%B8%84%E0%B8%B7%E0%B8%AD%E0%B8%AD%E0%B8%B0%E0%B9%84%E0%B8%A3") ข้อมูลจาก programmerthailand

    //- card 2
    .card.shadow-lg.mt-2
        .card-body
            h5.udl สอนการเพิ่ม Bootstrap ลงในไฟล์
            ol
                li สร้างไฟล์ HTML
                    br
                    script(src='https://gist.github.com/siraom15/dfa26e84f4e223b823457d5893470e23.js')
                    //- img(src="/pic/bst-html.png", alt="", srcset="",width="50%").img-fluid
                    
                li ลิ้งค์ไฟล์ CSS และ Javascript เข้าไปในไฟล์ HTML ของคุณโดย
                    p - CSS คัดลอก Code ด้านล้าง ลงใน 
                        code &lt;head&gt;
                    card 
                        .card-body
                            script(src='https://gist.github.com/siraom15/305412db804da42740a8dd8d9d7da45e.js')
                            //- pre
                                p &lt;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"&gt;

                    p - JS คัดลอก Code ด้านล้าง 
                        code &lt;/body&gt;
                    card 
                        .card-body
                            script(src='https://gist.github.com/siraom15/0ec18ee066e88ed7abd69c53afd43fbc.js')
                            //- pre
                                p &lt;script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"&gt;&lt;/script&gt;
                                p &lt;script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"&gt;&lt;/script&gt;
                                p &lt;script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"&gt;&lt;/script&gt;
            hr
            p เราจะได้ไฟล์ที่พร้อมใช้งานหน้าตาแบบนี้
            script(src='https://gist.github.com/siraom15/1cd779a882f886b0c3fd07981527b507.js')

            p เราสามารถใช้งาน Bootstrap ได้แล้ว
            hr
            a(href="/playground/bootstrap",target="_blank").btn.btn-warning.btn-sm.text-white ลองเขียนเลย

    //- card 3
    //- Narrow Tab
    .mt-2
        .row
            .col
                a(href="/lesson/layout/css").btn.btn-block.btn-danger.bg-red
                    i.fas.fa-arrow-left
                    |  เนื้อหาก่อนหน้า

            .col
                a(href="./layout").btn.btn-block.btn-primary.bg-blue
                    |เนื้อหาต่อไป
                    i.fas.fa-arrow-right        
block sub-bar-6
    li.text-dark
       a(href='./').bg-blue.text-white - รู้จักกับ Bootstrap
        a(href='./layout') - การจัดหน้าเว็บใน Bootstrap
        a(href="./component") - ส่วนประกอบต่างๆ
