extends ../sub-layout

block content
    //- card 1
    .card.shadow-lg.mt-2
        .card-header
            .h3.text-center HTML Layout
        .card-body
            .h4 การกำหนดรูปแบบเว็บไซต์ (HTML Layout)
            h5.udl องค์ประกอบของเค้าโครง HTML
            p เว็บไซต์มักจะแสดงเนื้อหาเป็นคอลัมน์หลายๆอัน (เหมือน นิตยสารหรือหนังสือพิมพ์)
            p ใน HTML5 มี element ที่มีความหมาย กำหนดส่วนต่าง ๆ ของหน้าเว็บ เช่น
            //- img(src="/pic/layout.png" alt="" srcset="").d-block.mx-auto.img-fluid
            .row
                .col-lg-4.col-md-12.col-sm-12
                    #img-demo-zone
                        .img-magnifier-container
                            img(src="/pic/layout.png" alt="" srcset="" width="" )#demo.img-fluid
                        button.btn.btn-primary.btn-sm.mt-1(type='button' data-toggle='modal' data-target='#demo-img')#modal-show
                            | ดูรูปขนาดเต็ม
                        #demo-img.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        h5#exampleModalLabel.modal-title
                                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                                        span(aria-hidden='true') &times;
                                    .modal-body
                                        img(src="/pic/layout.png" alt="" srcset="" width="100%" )#demo.img-fluid
                .col
                    ul.mt-1
                        li  
                            p
                                code &lt;header&gt; 
                                | - กำหนดส่วนหัวสำหรับเอกสาร หรือส่วนของเอกสาร
                        li  
                            p
                                code &lt;nav&gt; 
                                | - กำหนด 
                                a(href="/lesson/link") ลิ้งค์ 
                                | การนำทาง
                        li  
                            p
                                code &lt;section&gt; 
                                | -  ใช้ mark up เนื้อหาที่ต้องการแยกออกมาเป็นส่วนๆ เช่น การแบ่งบทความออกเป็น chapter
                        li  
                            p
                                code &lt;article&gt; 
                                | - ใช้ mark up สิ่งที่มีความหมายในตัวของมันเอง เช่น ข่าว บทความ เป็นต้น
                        li  
                            p
                                code &lt;aside&gt; 
                                | - จะใช้ mark up ส่วนที่มีความเกี่ยวข้องกับเนื้อหาหลัก แต่ไม่มากนัก จนสามารถแยกออกมาจากเนื้อหาหลักหรือตัดออกได้
                        li  
                            p
                                code &lt;footer&gt; 
                                | - กำหนดส่วนท้ายสำหรับเอกสารหรือส่วนของเอกสาร
                        li  
                            p
                                code &lt;details&gt; 
                                | - กำหนดรายละเอียดเพิ่มเติม
                        li  
                            p
                                code &lt;summary&gt; 
                                | - กำหนดหัวเรื่องสำหรับองค์ประกอบ
                        
                        
    //- card 2
    .card.shadow-lg.mt-2
        .card-body
            h5.udl เทคนิคการจัดวางหน้าเว็บ
            p มี 5 วิธีในการสร้างเค้าโครงแบบหลายคอลัมน์ โดยแต่ละวิธีมีข้อดีและข้อเสีย :
            ul
                li HTML tables 
                    span.badge.badge-danger ไม่แนะนำ
                li CSS float property
                li CSS flexbox
                li CSS framework
                li CSS grid
            .h5 ควรจะใช้แบบไหน
            hr
            p.udl ตาราง (HTML tables)
            p องค์ประกอบ 
                code &lt;table&gt; 
                | ไม่ได้ถูกออกแบบมาให้เป็นเครื่องมือในการจัดวางหน้าเว็บ
            p วัตถุประสงค์ของ 
                code &lt;table&gt;  
                | คือการแสดงข้อมูลแบบตาราง
            p ดังนั้นอย่าใช้ตารางสำหรับเค้าโครงหน้าของคุณ!
            hr
            p.udl - CSS Framework
            p หากคุณต้องการสร้าง layout ของคุณอย่างรวดเร็วคุณสามารถใช้เฟรมเวิร์กเช่น 
                a(href="https://getbootstrap.com/") Bootstrap 
                | หรือ 
                a(href="https://semantic-ui.com/") Semantic ui 
                | เป็นต้น
            span.badge.badge-info Bootstrap
            img(src="/pic/demo-bootstrap.jpg", alt="", srcset="").img-fluid
            span.badge.badge-info Semantic
            img(src="/pic/demo-semantic.jpg", alt="", srcset="").img-fluid
            .alert.alert-light ในเนื้อหาถัดไป จะมาสอนการสร้างหน้าเว็บไซต์ด้วย Bootstrap
    
    //- Narrow Tab
    .mt-2
        .row
            .col
                a(href="/lesson/link/").btn.btn-block.btn-danger.bg-red
                    i.fas.fa-arrow-left
                    |  เนื้อหาก่อนหน้า

            .col
                a(href="/lesson/layout/css").btn.btn-block.btn-primary.bg-blue
                    |เนื้อหาต่อไป 
                    i.fas.fa-arrow-right        
block sub-bar-5
    li.text-dark
        a(href='#').bg-blue.text-white - การกำหนดรูปแบบเว็บไซต์
        a(href="./css") - รู้จักกับ CSS
